.headerimg {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 0;
}

.navigation {
    background-color: #1b211d;
    padding: 25px;
}

h1 {
    padding-top: 30px;
    text-align: center;
}

.navigation a {
    color: grey;
    text-decoration: none; 
    padding-left: 10px;
}

a:hover {
    color: white;
}

.bios {
    padding: 2%;
    margin-right: 10%
}

.bios img {
    margin-top: 15px;
    /* width: 100%;
    margin-right: 300px; */
}

.floatclear {
    clear: left;
}

.col-wide {
    width: 70%;
    float: left;
} 

.col-narrow {
    width: 30%;
    float: left;
}

article {
    margin: 5%;
    margin-top: 1%;
} 


.author p{
    padding-left: 20px;
    display: inline;
    font-style: italic;
}

textarea {
    
    height: 100px;
    width: 600px;
}

input[type=text] {
    width: 250px;
    height: 40px;
    margin-left: 20%;
    margin-top: 7%;
    display: block;
}

.formcol-left {
    width: 400px;
    float: left;
    clear: left;
}

.formcol-right {
    width: 400px;
    float: left;
    margin-left: 10%
}


.blog {
    border: solid;
}

.footermargin {
    margin-top: 40%;
    clear: left;
}

.textareasize {
    height: 200px;
    width: 400px;
    margin-left: 35%;
    clear: left;
}









